* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
}

:root {
	--primaryColor: #319795;
	--secondaryColor: #0088cc;
	--thirdColor: #805ad5;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none !important;
}

h2 {
	font-size: 2rem !important;
	text-align: center;
	padding: 35px 15px;
}

.nav-item {
	margin: 5px 10px;
	color: white;
}

.nav-item button a:hover {
	color: white;
}

.btn {
	margin: 0 10px;
}

.card {
	margin-bottom: 15px;
}

.item-title {
	font-size: 1.75rem;
	border-bottom: 1px lightgray solid;
	padding-bottom: 20px;
}

.item-desc {
	font-size: 1.25rem;
	border-bottom: 1px lightgray solid;
	padding: 15px 0;
}

.item-level {
	padding: 10px 0;
}
