* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
}

:root {
	--primaryColor: #319795;
	--secondaryColor: #0088cc;
	--thirdColor: #805ad5;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none !important;
}

h2 {
	font-size: 2rem !important;
	text-align: center;
	padding: 35px 15px;
}

.nav {
	background-color: rgb(241, 239, 239);
	padding: 0 10px 10px 10px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

.navbar-brand {
	padding-left: 20px;
}

.nav-title,
.nav-title:active {
	text-decoration: none;
	color: black;
}

.navbar-items {
	display: flex;
	list-style-type: none;
}

.nav-item {
	margin: 5px 10px;
	color: white;
}

.nav-item button a:hover {
	color: white;
}

.active {
	transform: scale(1.1) !important;
}

.btn {
	margin: 0 10px;
}

.error-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.error-msg {
	color: red;
	font-weight: bold;
}

.card {
	margin-bottom: 15px;
}

.item-title {
	font-size: 1.75rem;
	border-bottom: 1px lightgray solid;
	padding-bottom: 20px;
}

.item-desc {
	font-size: 1.25rem;
	border-bottom: 1px lightgray solid;
	padding: 15px 0;
}

.item-level {
	padding: 10px 0;
}

@media screen and (max-width: 991px) {
	.navbar-items {
		margin-top: 10px;
		flex-direction: row;
		justify-content: center;
	}
}
